body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.heading {
    text-align: center;
    background-color: #d3d3d3;
    padding: 8px;
    margin: 24px 120px;
    border-radius: 48px;
}
.subheading{
    text-align: center;
    background-color: #add8e6;
    padding: 8px;
    margin: 16px 216px;
    border-radius: 48px;
}
.par{
    text-indent: 32px;
    padding: 16px;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}